# Ignore the config file
config.py

# Ignore all environment variable files
*.env

# Ignore compiled Python files
__pycache__/
*.py[cod]

# Ignore logs
*.log

# Ignore virtual environments
venv/
flask_news/

# Ignore system files
.DS_Store
Thumbs.db
